In [2]:
# Load the SQL extension
%load_ext sql

In [3]:
# Connect to the SQLite database
%sql sqlite:///orders.db

In [4]:
%%sql

-- Create the Product_Data table with the specified columns
DROP TABLE IF EXISTS Product_Data;

CREATE TABLE Product_Data (
    ProductID INTEGER PRIMARY KEY AUTOINCREMENT,
    Product_Name TEXT,
    Price REAL,
    Product_Type TEXT
);

 * sqlite:///orders.db
Done.
Done.

[]

In [5]:
%%sql

-- Insert sample data into the Product_Data table
INSERT INTO Product_Data (Product_Name, Price, Product_Type)
VALUES 
('Apple', 1.5, 'Fruit'),
('Banana', 0.75, 'Fruit'),
('Orange', 1.25, 'Fruit'),
('Tomato', 2, 'Vegetable'),
('Potato', 1, 'Vegetable'),
('Carrot', 1.5, 'Vegetable'),
('Chicken Breast', 5, 'Meat'),
('Salmon Fillet', 7.5, 'Fish'),
('Beef Steak', 10, 'Meat'),
('Shrimp', 8, 'Seafood');

 * sqlite:///orders.db
10 rows affected.

[]

In [6]:
%%sql

-- Verify the inserted data in the Product_Data table
SELECT * FROM Product_Data;

 * sqlite:///orders.db
Done.

[(1, 'Apple', 1.5, 'Fruit'),
 (2, 'Banana', 0.75, 'Fruit'),
 (3, 'Orange', 1.25, 'Fruit'),
 (4, 'Tomato', 2.0, 'Vegetable'),
 (5, 'Potato', 1.0, 'Vegetable'),
 (6, 'Carrot', 1.5, 'Vegetable'),
 (7, 'Chicken Breast', 5.0, 'Meat'),
 (8, 'Salmon Fillet', 7.5, 'Fish'),
 (9, 'Beef Steak', 10.0, 'Meat'),
 (10, 'Shrimp', 8.0, 'Seafood')]

In [7]:
%%sql

-- Create the Product_Data table with the specified columns
DROP TABLE IF EXISTS Product_Data;

CREATE TABLE Product_Data (
    ProductID INTEGER PRIMARY KEY AUTOINCREMENT,
    Product_Name TEXT,
    Price REAL,
    Product_Type TEXT
);

 * sqlite:///orders.db
Done.
Done.

[]

In [8]:
%%sql

-- Insert sample data into the Product_Data table
INSERT INTO Product_Data (Product_Name, Price, Product_Type)
VALUES 
('Apple', 1.5, 'Fruit'),
('Banana', 0.75, 'Fruit'),
('Orange', 1.25, 'Fruit'),
('Tomato', 2, 'Vegetable'),
('Potato', 1, 'Vegetable'),
('Carrot', 1.5, 'Vegetable'),
('Chicken Breast', 5, 'Meat'),
('Salmon Fillet', 7.5, 'Fish'),
('Beef Steak', 10, 'Meat'),
('Shrimp', 8, 'Seafood');

 * sqlite:///orders.db
10 rows affected.

[]

In [9]:
%%sql

-- Verify the inserted data in the Product_Data table
SELECT * FROM Product_Data;

 * sqlite:///orders.db
Done.

[(1, 'Apple', 1.5, 'Fruit'),
 (2, 'Banana', 0.75, 'Fruit'),
 (3, 'Orange', 1.25, 'Fruit'),
 (4, 'Tomato', 2.0, 'Vegetable'),
 (5, 'Potato', 1.0, 'Vegetable'),
 (6, 'Carrot', 1.5, 'Vegetable'),
 (7, 'Chicken Breast', 5.0, 'Meat'),
 (8, 'Salmon Fillet', 7.5, 'Fish'),
 (9, 'Beef Steak', 10.0, 'Meat'),
 (10, 'Shrimp', 8.0, 'Seafood')]

In [10]:
%%sql

-- Verify the inserted data in the Product_Data table
SELECT * FROM Product_Data;

 * sqlite:///orders.db
Done.

[(1, 'Apple', 1.5, 'Fruit'),
 (2, 'Banana', 0.75, 'Fruit'),
 (3, 'Orange', 1.25, 'Fruit'),
 (4, 'Tomato', 2.0, 'Vegetable'),
 (5, 'Potato', 1.0, 'Vegetable'),
 (6, 'Carrot', 1.5, 'Vegetable'),
 (7, 'Chicken Breast', 5.0, 'Meat'),
 (8, 'Salmon Fillet', 7.5, 'Fish'),
 (9, 'Beef Steak', 10.0, 'Meat'),
 (10, 'Shrimp', 8.0, 'Seafood')]

In [12]:
%%sql

-- Query 1: Calculate the average salary for each department and show departments with an average salary above 55,000
-- Assuming there is a 'Departments' table with 'DepartmentID', 'DepartmentName', and 'Salary' columns
-- Modify the table and column names as per your actual schema
-- This query will need to be modified or omitted if you do not have a Departments table
SELECT Product_Type, AVG(Price) AS Average_Price
FROM Product_Data
GROUP BY Product_Type
HAVING AVG(Price) > 2;

 * sqlite:///orders.db
Done.

[('Fish', 7.5), ('Meat', 7.5), ('Seafood', 8.0)]

In [13]:
%%sql

-- Query 2: Create a query that will return the number of Orders Placed for Each Product
SELECT Product_Name, COUNT(*) AS Order_Count
FROM Orders
GROUP BY Product_Name;

 * sqlite:///orders.db
Done.

[('Apple', 2),
 ('Banana', 2),
 ('Beef Steak', 2),
 ('Carrot', 2),
 ('Chicken Breast', 2),
 ('Orange', 2),
 ('Potato', 2),
 ('Salmon Fillet', 2),
 ('Shrimp', 2),
 ('Tomato', 2)]

In [14]:
%%sql

-- Query 3: Join the Orders table with the Product_Data table based on the Product_Name column, showing the product types instead of product names in the Orders table
SELECT o.OrderID, o.Quantity, p.Product_Type, o.Price, o.Order_Date, o.Ship_Date, o.Discount, o.Total_Amount
FROM Orders o
INNER JOIN Product_Data p ON o.Product_Name = p.Product_Name;

 * sqlite:///orders.db
Done.

[(1, 2, 'Fruit', 1.5, '2024-04-01', '2024-04-03', None, 3.0),
 (2, 1, 'Fruit', 0.75, '2024-04-02', '2024-04-04', 0.1, 0.675),
 (3, 3, 'Fruit', 1.25, '2024-04-03', '2024-04-05', None, 3.75),
 (4, 2, 'Vegetable', 2.0, '2024-04-04', '2024-04-06', None, 4.0),
 (5, 1, 'Vegetable', 1.0, '2024-04-05', '2024-04-07', 0.2, 0.8),
 (6, 2, 'Vegetable', 1.5, '2024-04-06', '2024-04-08', None, 3.0),
 (7, 3, 'Meat', 5.0, '2024-04-07', '2024-04-09', None, 15.0),
 (8, 2, 'Fish', 7.5, '2024-04-08', '2024-04-10', 0.15, 12.75),
 (9, 1, 'Meat', 10.0, '2024-04-09', '2024-04-11', 0.25, 7.5),
 (10, 2, 'Seafood', 8.0, '2024-04-10', '2024-04-12', None, 16.0),
 (11, 2, 'Fruit', 1.5, '2024-04-01', '2024-04-03', None, 3.0),
 (12, 1, 'Fruit', 0.75, '2024-04-02', '2024-04-04', 0.1, 0.675),
 (13, 3, 'Fruit', 1.25, '2024-04-03', '2024-04-05', None, 3.75),
 (14, 2, 'Vegetable', 2.0, '2024-04-04', '2024-04-06', None, 4.0),
 (15, 1, 'Vegetable', 1.0, '2024-04-05', '2024-04-07', 0.2, 0.8),
 (16, 2, 'Vegetable', 1.5, '2024-04-06', '2024-04-08', None, 3.0),
 (17, 3, 'Meat', 5.0, '2024-04-07', '2024-04-09', None, 15.0),
 (18, 2, 'Fish', 7.5, '2024-04-08', '2024-04-10', 0.15, 12.75),
 (19, 1, 'Meat', 10.0, '2024-04-09', '2024-04-11', 0.25, 7.5),
 (20, 2, 'Seafood', 8.0, '2024-04-10', '2024-04-12', None, 16.0)]

In [15]:
%%sql

-- Query 4: Calculate the average total amount for each product type and filter out only those product types where the average total amount is greater than 5
-- Using Inner Join, Group By and Having
SELECT p.Product_Type, AVG(o.Total_Amount) AS Average_Total_Amount
FROM Orders o
INNER JOIN Product_Data p ON o.Product_Name = p.Product_Name
GROUP BY p.Product_Type
HAVING AVG(o.Total_Amount) > 5;

 * sqlite:///orders.db
Done.

[('Fish', 12.75), ('Meat', 11.25), ('Seafood', 16.0)]

In [16]:
%%sql

-- Query 5: Retrieve a list of orders along with their product details using Inner Join
SELECT o.OrderID, o.Product_Name, p.Price, p.Product_Type, o.Quantity, o.Order_Date, o.Ship_Date, o.Discount, o.Total_Amount
FROM Orders o
INNER JOIN Product_Data p ON o.Product_Name = p.Product_Name;

 * sqlite:///orders.db
Done.

[(1, 'Apple', 1.5, 'Fruit', 2, '2024-04-01', '2024-04-03', None, 3.0),
 (2, 'Banana', 0.75, 'Fruit', 1, '2024-04-02', '2024-04-04', 0.1, 0.675),
 (3, 'Orange', 1.25, 'Fruit', 3, '2024-04-03', '2024-04-05', None, 3.75),
 (4, 'Tomato', 2.0, 'Vegetable', 2, '2024-04-04', '2024-04-06', None, 4.0),
 (5, 'Potato', 1.0, 'Vegetable', 1, '2024-04-05', '2024-04-07', 0.2, 0.8),
 (6, 'Carrot', 1.5, 'Vegetable', 2, '2024-04-06', '2024-04-08', None, 3.0),
 (7, 'Chicken Breast', 5.0, 'Meat', 3, '2024-04-07', '2024-04-09', None, 15.0),
 (8, 'Salmon Fillet', 7.5, 'Fish', 2, '2024-04-08', '2024-04-10', 0.15, 12.75),
 (9, 'Beef Steak', 10.0, 'Meat', 1, '2024-04-09', '2024-04-11', 0.25, 7.5),
 (10, 'Shrimp', 8.0, 'Seafood', 2, '2024-04-10', '2024-04-12', None, 16.0),
 (11, 'Apple', 1.5, 'Fruit', 2, '2024-04-01', '2024-04-03', None, 3.0),
 (12, 'Banana', 0.75, 'Fruit', 1, '2024-04-02', '2024-04-04', 0.1, 0.675),
 (13, 'Orange', 1.25, 'Fruit', 3, '2024-04-03', '2024-04-05', None, 3.75),
 (14, 'Tomato', 2.0, 'Vegetable', 2, '2024-04-04', '2024-04-06', None, 4.0),
 (15, 'Potato', 1.0, 'Vegetable', 1, '2024-04-05', '2024-04-07', 0.2, 0.8),
 (16, 'Carrot', 1.5, 'Vegetable', 2, '2024-04-06', '2024-04-08', None, 3.0),
 (17, 'Chicken Breast', 5.0, 'Meat', 3, '2024-04-07', '2024-04-09', None, 15.0),
 (18, 'Salmon Fillet', 7.5, 'Fish', 2, '2024-04-08', '2024-04-10', 0.15, 12.75),
 (19, 'Beef Steak', 10.0, 'Meat', 1, '2024-04-09', '2024-04-11', 0.25, 7.5),
 (20, 'Shrimp', 8.0, 'Seafood', 2, '2024-04-10', '2024-04-12', None, 16.0)]

In [17]:
%%sql

-- Query 6: Retrieve all products along with the number of orders made for each product, including products that have not been ordered, using Left Join
SELECT p.Product_Name, p.Price, p.Product_Type, COUNT(o.OrderID) AS Order_Count
FROM Product_Data p
LEFT JOIN Orders o ON p.Product_Name = o.Product_Name
GROUP BY p.Product_Name;

 * sqlite:///orders.db
Done.

[('Apple', 1.5, 'Fruit', 2),
 ('Banana', 0.75, 'Fruit', 2),
 ('Beef Steak', 10.0, 'Meat', 2),
 ('Carrot', 1.5, 'Vegetable', 2),
 ('Chicken Breast', 5.0, 'Meat', 2),
 ('Orange', 1.25, 'Fruit', 2),
 ('Potato', 1.0, 'Vegetable', 2),
 ('Salmon Fillet', 7.5, 'Fish', 2),
 ('Shrimp', 8.0, 'Seafood', 2),
 ('Tomato', 2.0, 'Vegetable', 2)]

In [18]:
%%sql

-- Query 7: Retrieve all orders along with their product details, including products that do not have any orders, using Right Join
-- Note: SQLite does not support RIGHT JOIN directly, we can achieve this by switching the table order and using LEFT JOIN
SELECT o.OrderID, o.Product_Name, p.Price, p.Product_Type, o.Quantity, o.Order_Date, o.Ship_Date, o.Discount, o.Total_Amount
FROM Product_Data p
LEFT JOIN Orders o ON p.Product_Name = o.Product_Name;

 * sqlite:///orders.db
Done.

[(1, 'Apple', 1.5, 'Fruit', 2, '2024-04-01', '2024-04-03', None, 3.0),
 (11, 'Apple', 1.5, 'Fruit', 2, '2024-04-01', '2024-04-03', None, 3.0),
 (2, 'Banana', 0.75, 'Fruit', 1, '2024-04-02', '2024-04-04', 0.1, 0.675),
 (12, 'Banana', 0.75, 'Fruit', 1, '2024-04-02', '2024-04-04', 0.1, 0.675),
 (3, 'Orange', 1.25, 'Fruit', 3, '2024-04-03', '2024-04-05', None, 3.75),
 (13, 'Orange', 1.25, 'Fruit', 3, '2024-04-03', '2024-04-05', None, 3.75),
 (4, 'Tomato', 2.0, 'Vegetable', 2, '2024-04-04', '2024-04-06', None, 4.0),
 (14, 'Tomato', 2.0, 'Vegetable', 2, '2024-04-04', '2024-04-06', None, 4.0),
 (5, 'Potato', 1.0, 'Vegetable', 1, '2024-04-05', '2024-04-07', 0.2, 0.8),
 (15, 'Potato', 1.0, 'Vegetable', 1, '2024-04-05', '2024-04-07', 0.2, 0.8),
 (6, 'Carrot', 1.5, 'Vegetable', 2, '2024-04-06', '2024-04-08', None, 3.0),
 (16, 'Carrot', 1.5, 'Vegetable', 2, '2024-04-06', '2024-04-08', None, 3.0),
 (7, 'Chicken Breast', 5.0, 'Meat', 3, '2024-04-07', '2024-04-09', None, 15.0),
 (17, 'Chicken Breast', 5.0, 'Meat', 3, '2024-04-07', '2024-04-09', None, 15.0),
 (8, 'Salmon Fillet', 7.5, 'Fish', 2, '2024-04-08', '2024-04-10', 0.15, 12.75),
 (18, 'Salmon Fillet', 7.5, 'Fish', 2, '2024-04-08', '2024-04-10', 0.15, 12.75),
 (9, 'Beef Steak', 10.0, 'Meat', 1, '2024-04-09', '2024-04-11', 0.25, 7.5),
 (19, 'Beef Steak', 10.0, 'Meat', 1, '2024-04-09', '2024-04-11', 0.25, 7.5),
 (10, 'Shrimp', 8.0, 'Seafood', 2, '2024-04-10', '2024-04-12', None, 16.0),
 (20, 'Shrimp', 8.0, 'Seafood', 2, '2024-04-10', '2024-04-12', None, 16.0)]

In [19]:
%%sql

-- Query 8: Retrieve a Cartesian product of all rows from both tables, using Cross Join
SELECT *
FROM Orders o
CROSS JOIN Product_Data p;

 * sqlite:///orders.db
Done.

[(1, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 1, 'Apple', 1.5, 'Fruit'),
 (1, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 2, 'Banana', 0.75, 'Fruit'),
 (1, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 3, 'Orange', 1.25, 'Fruit'),
 (1, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 4, 'Tomato', 2.0, 'Vegetable'),
 (1, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 5, 'Potato', 1.0, 'Vegetable'),
 (1, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 6, 'Carrot', 1.5, 'Vegetable'),
 (1, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 7, 'Chicken Breast', 5.0, 'Meat'),
 (1, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (1, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 9, 'Beef Steak', 10.0, 'Meat'),
 (1, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 10, 'Shrimp', 8.0, 'Seafood'),
 (2, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 1, 'Apple', 1.5, 'Fruit'),
 (2, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 2, 'Banana', 0.75, 'Fruit'),
 (2, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 3, 'Orange', 1.25, 'Fruit'),
 (2, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 4, 'Tomato', 2.0, 'Vegetable'),
 (2, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 5, 'Potato', 1.0, 'Vegetable'),
 (2, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 6, 'Carrot', 1.5, 'Vegetable'),
 (2, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 7, 'Chicken Breast', 5.0, 'Meat'),
 (2, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (2, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 9, 'Beef Steak', 10.0, 'Meat'),
 (2, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 10, 'Shrimp', 8.0, 'Seafood'),
 (3, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 1, 'Apple', 1.5, 'Fruit'),
 (3, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 2, 'Banana', 0.75, 'Fruit'),
 (3, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 3, 'Orange', 1.25, 'Fruit'),
 (3, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 4, 'Tomato', 2.0, 'Vegetable'),
 (3, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 5, 'Potato', 1.0, 'Vegetable'),
 (3, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 6, 'Carrot', 1.5, 'Vegetable'),
 (3, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 7, 'Chicken Breast', 5.0, 'Meat'),
 (3, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (3, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 9, 'Beef Steak', 10.0, 'Meat'),
 (3, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 10, 'Shrimp', 8.0, 'Seafood'),
 (4, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 1, 'Apple', 1.5, 'Fruit'),
 (4, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 2, 'Banana', 0.75, 'Fruit'),
 (4, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 3, 'Orange', 1.25, 'Fruit'),
 (4, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 4, 'Tomato', 2.0, 'Vegetable'),
 (4, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 5, 'Potato', 1.0, 'Vegetable'),
 (4, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 6, 'Carrot', 1.5, 'Vegetable'),
 (4, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 7, 'Chicken Breast', 5.0, 'Meat'),
 (4, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (4, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 9, 'Beef Steak', 10.0, 'Meat'),
 (4, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 10, 'Shrimp', 8.0, 'Seafood'),
 (5, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 1, 'Apple', 1.5, 'Fruit'),
 (5, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 2, 'Banana', 0.75, 'Fruit'),
 (5, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 3, 'Orange', 1.25, 'Fruit'),
 (5, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 4, 'Tomato', 2.0, 'Vegetable'),
 (5, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 5, 'Potato', 1.0, 'Vegetable'),
 (5, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 6, 'Carrot', 1.5, 'Vegetable'),
 (5, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 7, 'Chicken Breast', 5.0, 'Meat'),
 (5, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (5, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 9, 'Beef Steak', 10.0, 'Meat'),
 (5, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 10, 'Shrimp', 8.0, 'Seafood'),
 (6, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 1, 'Apple', 1.5, 'Fruit'),
 (6, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 2, 'Banana', 0.75, 'Fruit'),
 (6, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 3, 'Orange', 1.25, 'Fruit'),
 (6, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 4, 'Tomato', 2.0, 'Vegetable'),
 (6, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 5, 'Potato', 1.0, 'Vegetable'),
 (6, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 6, 'Carrot', 1.5, 'Vegetable'),
 (6, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 7, 'Chicken Breast', 5.0, 'Meat'),
 (6, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (6, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 9, 'Beef Steak', 10.0, 'Meat'),
 (6, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 10, 'Shrimp', 8.0, 'Seafood'),
 (7, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 1, 'Apple', 1.5, 'Fruit'),
 (7, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 2, 'Banana', 0.75, 'Fruit'),
 (7, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 3, 'Orange', 1.25, 'Fruit'),
 (7, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 4, 'Tomato', 2.0, 'Vegetable'),
 (7, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 5, 'Potato', 1.0, 'Vegetable'),
 (7, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 6, 'Carrot', 1.5, 'Vegetable'),
 (7, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 7, 'Chicken Breast', 5.0, 'Meat'),
 (7, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (7, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 9, 'Beef Steak', 10.0, 'Meat'),
 (7, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 10, 'Shrimp', 8.0, 'Seafood'),
 (8, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 1, 'Apple', 1.5, 'Fruit'),
 (8, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 2, 'Banana', 0.75, 'Fruit'),
 (8, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 3, 'Orange', 1.25, 'Fruit'),
 (8, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 4, 'Tomato', 2.0, 'Vegetable'),
 (8, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 5, 'Potato', 1.0, 'Vegetable'),
 (8, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 6, 'Carrot', 1.5, 'Vegetable'),
 (8, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 7, 'Chicken Breast', 5.0, 'Meat'),
 (8, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (8, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 9, 'Beef Steak', 10.0, 'Meat'),
 (8, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 10, 'Shrimp', 8.0, 'Seafood'),
 (9, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 1, 'Apple', 1.5, 'Fruit'),
 (9, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 2, 'Banana', 0.75, 'Fruit'),
 (9, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 3, 'Orange', 1.25, 'Fruit'),
 (9, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 4, 'Tomato', 2.0, 'Vegetable'),
 (9, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 5, 'Potato', 1.0, 'Vegetable'),
 (9, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 6, 'Carrot', 1.5, 'Vegetable'),
 (9, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 7, 'Chicken Breast', 5.0, 'Meat'),
 (9, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (9, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 9, 'Beef Steak', 10.0, 'Meat'),
 (9, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 10, 'Shrimp', 8.0, 'Seafood'),
 (10, 2, 'Shrimp', 8.0, '2024-04-10', '2024-04-12', 'Seafood', None, 16.0, 1, 'Apple', 1.5, 'Fruit'),
 (10, 2, 'Shrimp', 8.0, '2024-04-10', '2024-04-12', 'Seafood', None, 16.0, 2, 'Banana', 0.75, 'Fruit'),
 (10, 2, 'Shrimp', 8.0, '2024-04-10', '2024-04-12', 'Seafood', None, 16.0, 3, 'Orange', 1.25, 'Fruit'),
 (10, 2, 'Shrimp', 8.0, '2024-04-10', '2024-04-12', 'Seafood', None, 16.0, 4, 'Tomato', 2.0, 'Vegetable'),
 (10, 2, 'Shrimp', 8.0, '2024-04-10', '2024-04-12', 'Seafood', None, 16.0, 5, 'Potato', 1.0, 'Vegetable'),
 (10, 2, 'Shrimp', 8.0, '2024-04-10', '2024-04-12', 'Seafood', None, 16.0, 6, 'Carrot', 1.5, 'Vegetable'),
 (10, 2, 'Shrimp', 8.0, '2024-04-10', '2024-04-12', 'Seafood', None, 16.0, 7, 'Chicken Breast', 5.0, 'Meat'),
 (10, 2, 'Shrimp', 8.0, '2024-04-10', '2024-04-12', 'Seafood', None, 16.0, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (10, 2, 'Shrimp', 8.0, '2024-04-10', '2024-04-12', 'Seafood', None, 16.0, 9, 'Beef Steak', 10.0, 'Meat'),
 (10, 2, 'Shrimp', 8.0, '2024-04-10', '2024-04-12', 'Seafood', None, 16.0, 10, 'Shrimp', 8.0, 'Seafood'),
 (11, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 1, 'Apple', 1.5, 'Fruit'),
 (11, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 2, 'Banana', 0.75, 'Fruit'),
 (11, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 3, 'Orange', 1.25, 'Fruit'),
 (11, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 4, 'Tomato', 2.0, 'Vegetable'),
 (11, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 5, 'Potato', 1.0, 'Vegetable'),
 (11, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 6, 'Carrot', 1.5, 'Vegetable'),
 (11, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 7, 'Chicken Breast', 5.0, 'Meat'),
 (11, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (11, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 9, 'Beef Steak', 10.0, 'Meat'),
 (11, 2, 'Apple', 1.5, '2024-04-01', '2024-04-03', 'Fruit', None, 3.0, 10, 'Shrimp', 8.0, 'Seafood'),
 (12, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 1, 'Apple', 1.5, 'Fruit'),
 (12, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 2, 'Banana', 0.75, 'Fruit'),
 (12, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 3, 'Orange', 1.25, 'Fruit'),
 (12, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 4, 'Tomato', 2.0, 'Vegetable'),
 (12, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 5, 'Potato', 1.0, 'Vegetable'),
 (12, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 6, 'Carrot', 1.5, 'Vegetable'),
 (12, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 7, 'Chicken Breast', 5.0, 'Meat'),
 (12, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (12, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 9, 'Beef Steak', 10.0, 'Meat'),
 (12, 1, 'Banana', 0.75, '2024-04-02', '2024-04-04', 'Fruit', 0.1, 0.675, 10, 'Shrimp', 8.0, 'Seafood'),
 (13, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 1, 'Apple', 1.5, 'Fruit'),
 (13, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 2, 'Banana', 0.75, 'Fruit'),
 (13, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 3, 'Orange', 1.25, 'Fruit'),
 (13, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 4, 'Tomato', 2.0, 'Vegetable'),
 (13, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 5, 'Potato', 1.0, 'Vegetable'),
 (13, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 6, 'Carrot', 1.5, 'Vegetable'),
 (13, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 7, 'Chicken Breast', 5.0, 'Meat'),
 (13, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (13, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 9, 'Beef Steak', 10.0, 'Meat'),
 (13, 3, 'Orange', 1.25, '2024-04-03', '2024-04-05', 'Fruit', None, 3.75, 10, 'Shrimp', 8.0, 'Seafood'),
 (14, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 1, 'Apple', 1.5, 'Fruit'),
 (14, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 2, 'Banana', 0.75, 'Fruit'),
 (14, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 3, 'Orange', 1.25, 'Fruit'),
 (14, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 4, 'Tomato', 2.0, 'Vegetable'),
 (14, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 5, 'Potato', 1.0, 'Vegetable'),
 (14, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 6, 'Carrot', 1.5, 'Vegetable'),
 (14, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 7, 'Chicken Breast', 5.0, 'Meat'),
 (14, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (14, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 9, 'Beef Steak', 10.0, 'Meat'),
 (14, 2, 'Tomato', 2.0, '2024-04-04', '2024-04-06', 'Vegetable', None, 4.0, 10, 'Shrimp', 8.0, 'Seafood'),
 (15, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 1, 'Apple', 1.5, 'Fruit'),
 (15, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 2, 'Banana', 0.75, 'Fruit'),
 (15, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 3, 'Orange', 1.25, 'Fruit'),
 (15, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 4, 'Tomato', 2.0, 'Vegetable'),
 (15, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 5, 'Potato', 1.0, 'Vegetable'),
 (15, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 6, 'Carrot', 1.5, 'Vegetable'),
 (15, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 7, 'Chicken Breast', 5.0, 'Meat'),
 (15, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (15, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 9, 'Beef Steak', 10.0, 'Meat'),
 (15, 1, 'Potato', 1.0, '2024-04-05', '2024-04-07', 'Vegetable', 0.2, 0.8, 10, 'Shrimp', 8.0, 'Seafood'),
 (16, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 1, 'Apple', 1.5, 'Fruit'),
 (16, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 2, 'Banana', 0.75, 'Fruit'),
 (16, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 3, 'Orange', 1.25, 'Fruit'),
 (16, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 4, 'Tomato', 2.0, 'Vegetable'),
 (16, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 5, 'Potato', 1.0, 'Vegetable'),
 (16, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 6, 'Carrot', 1.5, 'Vegetable'),
 (16, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 7, 'Chicken Breast', 5.0, 'Meat'),
 (16, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (16, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 9, 'Beef Steak', 10.0, 'Meat'),
 (16, 2, 'Carrot', 1.5, '2024-04-06', '2024-04-08', 'Vegetable', None, 3.0, 10, 'Shrimp', 8.0, 'Seafood'),
 (17, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 1, 'Apple', 1.5, 'Fruit'),
 (17, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 2, 'Banana', 0.75, 'Fruit'),
 (17, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 3, 'Orange', 1.25, 'Fruit'),
 (17, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 4, 'Tomato', 2.0, 'Vegetable'),
 (17, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 5, 'Potato', 1.0, 'Vegetable'),
 (17, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 6, 'Carrot', 1.5, 'Vegetable'),
 (17, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 7, 'Chicken Breast', 5.0, 'Meat'),
 (17, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (17, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 9, 'Beef Steak', 10.0, 'Meat'),
 (17, 3, 'Chicken Breast', 5.0, '2024-04-07', '2024-04-09', 'Meat', None, 15.0, 10, 'Shrimp', 8.0, 'Seafood'),
 (18, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 1, 'Apple', 1.5, 'Fruit'),
 (18, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 2, 'Banana', 0.75, 'Fruit'),
 (18, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 3, 'Orange', 1.25, 'Fruit'),
 (18, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 4, 'Tomato', 2.0, 'Vegetable'),
 (18, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 5, 'Potato', 1.0, 'Vegetable'),
 (18, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 6, 'Carrot', 1.5, 'Vegetable'),
 (18, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 7, 'Chicken Breast', 5.0, 'Meat'),
 (18, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 8, 'Salmon Fillet', 7.5, 'Fish'),
 (18, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 9, 'Beef Steak', 10.0, 'Meat'),
 (18, 2, 'Salmon Fillet', 7.5, '2024-04-08', '2024-04-10', 'Fish', 0.15, 12.75, 10, 'Shrimp', 8.0, 'Seafood'),
 (19, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 1, 'Apple', 1.5, 'Fruit'),
 (19, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 2, 'Banana', 0.75, 'Fruit'),
 (19, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 3, 'Orange', 1.25, 'Fruit'),
 (19, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 4, 'Tomato', 2.0, 'Vegetable'),
 (19, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 5, 'Potato', 1.0, 'Vegetable'),
 (19, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 6, 'Carrot', 1.5, 'Vegetable'),
 (19, 1, 'Beef Steak', 10.0, '2024-04-09', '2024-04-11', 'Meat', 0.25, 7.5, 7, 'Chicken Breast', 5.0, 'Meat'),